### This script contains the following points: 
Exporting PKL DataFrame 'orders_products_combined.pkl'  
Anwers to Task 4.6, No. 3-9

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Defining path
path = r'/Users/macbook/Library/CloudStorage/OneDrive-Personal/Data Analisys/Instacart/02 Data'

#### Q3. In a new notebook, import the orders_products_combined dataframe from the pickle file just saved.

In [3]:
# Importing 'orders_products_combined.pkl'

df_ords_prods_comb = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

#### Q4. Check the shape of the imported dataframe (it should be the same as the one you exported — always check!)

In [5]:
df_ords_prods_comb.shape

(32434489, 11)

#### Yes, it is the same

#### Q5. Determine a suitable way to combine the 'orders_products_combined' dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [6]:
# Importing 'products_cleaned.csv'
df_prods_cleaned = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [7]:
df_prods_cleaned.shape

(49672, 6)

In [8]:
df_prods_cleaned.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# remove the "Unnamed: 0" column from df_prods_cleaned
df_prods_cleaned = df_prods_cleaned.drop(columns = ['Unnamed: 0'])

In [11]:
df_prods_cleaned.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
df_prods_cleaned.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

#### Merging 2 DataFrames: 'orders_products_combined.pkl' and 'products_cleaned.csv'.

In [14]:
# Dropping '_merge' column from 'orders_products_combined.pkl'
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['_merge'])

In [15]:
df_ords_prods_comb.shape

(32434489, 10)

In [16]:
# Merging
df_ords_prods_merged = df_ords_prods_comb.merge(df_prods_cleaned, on = 'product_id', indicator = True)

#### Q6. Confirm the results of the merge using the merge flag.

In [17]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
df_ords_prods_merged.shape

(32404859, 15)

#### Q7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [19]:
# Import to PKL
df_ords_prods_merged.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged.pkl'))

In [20]:
df_ords_prods_merged

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,prior,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404855,31526,202557,prior,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404856,758936,203436,prior,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both
32404857,2745165,203436,prior,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both
32404858,3093936,205420,prior,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both